body{
    background-image: url(./img/moorish-pattern_644416-582.jpg);
    display: flex;
    flex-direction: column;
}

h1{
    color: #2777d9;
    background-color:  #f5f0f0;
    text-align: right;
}

img{
    width: 400px;
    height: 400px;
}

ul{
    background-color: #063175;
}

a{
    color: #ffd700;
}

a:hover{
    color: indigo;
    background-color: aqua;
}

a:active{
    color: greenyellow;
    background-color: tomato;
}